@model Models.Media
@{ ViewBag.PageTitle = "Détails"; }

<div id="mediaDetailsContainer" class="detailsPanel">
    <dl>
        <dd>
            @Model.Title
        </dd>
        <dd>
            @Helper.YoutubePlayer(Model.YoutubeId)
        </dd>
        <dd class="description">
            @Model.Description
        </dd>
        <dt>
            Catégorie
        </dt>

        <dd>
            @Model.Category
        </dd>

        <dt>
            Date de publication
        </dt>

        <dd>
            @Helper.When(Model.PublishDate)
        </dd>

    </dl>

</div>
<script>
    function refreshDetails() {
        $.get("/Medias/GetMediaDetails", function (data) {
            if (data) {
                $("#mediaDetailsContainer").html(data);
            }
        });
    }

    setInterval(refreshDetails, 5000);</script>