@model Models.Media
@{
    ViewBag.PageTitle = "Détails";
}

<div id="detailsPanel" class="detailsPanel">
    <dl>
        <dt>Créateur</dt>
        <dd style="display:flex; align-items:center; gap:10px;">
            <img src="@Model.Owner.Avatar" class="ownerAvatarSmall" />
            <span>@Model.Owner.Name</span>

            @if (Model.OwnerId == Models.User.ConnectedUser.Id && Model.Shared)
            {
                <span style="color:green; font-weight:bold;">[Partagé]</span>
            }
        </dd>

        <dt>Titre</dt>
        <dd>@Model.Title</dd>

        <dt>Catégorie</dt>
        <dd>@Model.Category</dd>

        <dt>Description</dt>
        <dd>@Model.Description</dd>

        <dt>Vidéo</dt>
        <dd>@Helper.YoutubePlayer(Model.YoutubeId)</dd>

        <dt>Date de publication</dt>
        <dd>@Helper.When(Model.PublishDate)</dd>
    </dl>
</div>

@section Scripts {
    <script>
        $(() => {
            newSession(600);
            mediaDetails_ARP = new AutoRefreshedPanel("detailsPanel", "/Medias/GetMediaDetails", 5, mediaDetailsPostRefresh);
        })

        function mediaDetailsPostRefresh() {
            // todo
        }
    </script>
}