@model Models.Media

<dl>
    <dd>
        @Model.Title
    </dd>

    <dd>
        @Helper.YoutubePlayer(Model.YoutubeId)
    </dd>

    <dd class="description">
        @Model.Description
    </dd>

    <dt>
        Catégorie
    </dt>

    <dd>
        @Model.Category
    </dd>

    <dt>
        Date de publication
    </dt>

    <dd>
        @Helper.When(Model.PublishDate)
    </dd>

    <dt>Créateur</dt>
    <dd class="userItem">
        <div class="UserMediumAvatar"
             style="background:url('@Model.Owner.Avatar')">
        </div>

        <span class="ellipsis">@Model.Owner.Name</span>

        @if (Model.OwnerId == Models.User.ConnectedUser.Id && Model.Shared)
        {
            <span class="sharedTag">[Partagé]</span>
        }
    </dd>
</dl>