@model IEnumerable<Models.Media>

@{
    if (Model.Count() != 0)
    {
        int connectedId = Models.User.ConnectedUser.Id;
        foreach (var media in Model)
        {
            bool writeAccess = Models.User.ConnectedUser.IsAdmin || media.OwnerId == connectedId;

            <div class="mediaLayout">
                <a href="/Medias/Details/@media.Id" title="Voir les détails de @media.Title" style="text-decoration:none; width:100% !important">
                    <div class="mediaThumbnail"
                         style="background-image:url('https://img.youtube.com/vi/@media.YoutubeId/mqdefault.jpg'); padding:6px; display:flex; flex-flow:row-reverse ">
                        <div class="UserSmallAvatar transparentBackground"
                             style="background-image: url('@media.Owner.Avatar'); border:0.1px solid white;"
                             title="Ajouté par @media.Owner.Name"></div>
                        @if (writeAccess && media.Shared)
                        {
                            <div class="UserSmallAvatar transparentBackground" style="background-image: url('/Content/UI-Images/shared.png'); margin-right:6px;" title="partagée"></div>
                        }
                    </div>
                </a>

                <div class="mediaTitle ellipsis" style="margin-left: 4px; margin-right: 4px; font-size: 0.8em; font-weight: bold">
                    @media.Title
                </div>
                <div style="display: grid; grid-template-columns: auto 120px; align-items: last baseline ">

                    <div style="margin-left: 4px; color: gray; font-size: 0.65em">@media.Category  @Helper.When(media.PublishDate) </div>

                    <div style="display: flex; justify-content: flex-end; gap: 5px; align-items: center; padding-right: 4px; cursor: pointer; color: dodgerblue">

                        <span title="Usagers qui ont aimé :@media.LikedUsersNames"> @media.LikesCount </span>


                        <i class="cmdIconSmall @(media.IsLikedByCurrentUser ? "fa-solid" : "fa-regular") fa-thumbs-up toggleLikeCmd"
                           mediaId="@media.Id"
                           title="@(media.IsLikedByCurrentUser ? "Retirer j’aime" : "Ajouter j’aime")"
                           style="cursor:pointer">
                        </i>

                    </div>


                </div>
            </div>
            <script>
                $(document).on("click", ".toggleLikeCmd", function () {
                    let mediaId = $(this).attr("mediaid");

                    $.ajax({
                        url: "/Medias/ToggleMediaLike",
                        type: "GET",
                        data: { mediaId: mediaId },
                        success: function () {
                            $("#mediasContainer").load("/Medias/GetMedias?forceRefresh=true");
                        }
                    });
                });
            </script>
        }
    }
}
