@model Models.Media
@{ ViewBag.PageTitle = "Détails"; }

<div class="detailsPanel">
    <dl>
        <dd>
            @Model.Title
        </dd>
        <dd>
            @Helper.YoutubePlayer(Model.YoutubeId)
        </dd>
        <dd class="description">
            @Model.Description
        </dd>
        <dt>
            Catégorie
        </dt>

        <dd>
            @Model.Category
        </dd>

        <dt>
            Date de publication
        </dt>

        <dd>
            @Helper.When(Model.PublishDate)
        </dd>

    </dl>
</div>